:root {
    --white: #F7F6F6;
    --black: #242424;
    --primary: #551A1A;
    --secondary: #803B3B;
    --third: #AA6C6C;
    
}

html.lenis{
    height: auto;
}

.cursor {
    position: fixed;
    height: 50px;
    width: 50px;
    
    background-color: var(--secondary);
    filter:opacity(.5);
    border-radius: 100px;

    top: 40px;
    left: 40px;
    z-index: 100;
    transition: .15s linear;
    pointer-events: none;
}

.cursor--hover{
    height: 130px !important;
    width: 130px !important;
}

.int--hover{
    height: 100px !important;
    width: 100px !important;
}

.int{
    height: 7.5px;
    width: 7.5px;

    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    transition: 1s;
    
    background-color: var(--black);
    opacity: 1;
    border-radius: 100px;
}

.cursor--click{
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    transition: 1s;
    
    color: var(--white);
    font-family: "Rubik Mono One";
    font-size: 0vh;

    opacity: 0;
    border-radius: 100px;
}

.cursor--click--hover{
    opacity: 1;
    font-size: 2vh;
}

body{
    cursor: none;
    overflow: hidden;
    background-color: var(--black);
}

body::-webkit-scrollbar{
    display: none;
}

.landing-page{
    width: 100vw;
    height: 100vh;

    position: relative;
    left: 0;
    top: 0;

    opacity: 1;
    z-index: 99;
    background-color: var(--primary);
}

.title-container{
    position: relative;
    width: fit-content;
    height: fit-content;

    margin: auto;
}

.developed{
    position: absolute;
    color: var(--white);
    font-family: "Krona One";
    font-size: 1vw;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.landing-page h1{
    font-family: "Rubik Mono One";
    margin: auto;
    text-align: center;
    font-size: 15vw;
}

.landing-page h1:nth-child(2n+1){
    color: var(--secondary);
}

.landing-page h1:nth-child(2n){
    color: var(--third);
}

.navbar{
    position: fixed;
    background-color: #551A1A;
    width: 10vw;
    height: 100vh;

    right: 0;
    top: 0;
    z-index: 99;
}

.navbar-icon{
    width: 75%;
    display: block;
    margin: 1vh auto;

    transition: 1s;
}

.navbar-icon:hover{
    filter: invert(42%) sepia(30%) saturate(535%) hue-rotate(314deg) brightness(106%) contrast(89%);
    transform: scale(1.1) rotate(-15deg);
    cursor: none;
}

.navbar-name{
    display: block;
    margin: 10vh auto;

    writing-mode: vertical-rl;

    font-family: "Krona One";
    font-size: 2vh;

    transition: 1s;

}

.navbar-name a{
    text-decoration: none;
    color: var(--secondary);
    cursor: none;
}

.navbar-name:hover{
    filter: invert(42%) sepia(30%) saturate(535%) hue-rotate(314deg) brightness(106%) contrast(89%);
    transform: scale(1.1);
    color: var(--third);
}

.movie-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 85vw;
    margin: auto 2vw;
}

.movie-element{
    object-fit:cover;
    min-height: 100vh;
}

.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: .025;  
    z-index: 1000;
    pointer-events: none;
    background: url(/media/img/noise.gif) ;
}

.details-exit{
    text-align: center;

    font-family: "Krona One";
    color: var(--third);
    opacity: 0;
    pointer-events: none;
}

.details-container{
    height: 100vh;
    width: 90vw;
    background-color: var(--black);

    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;

    display: flex;
    flex-direction: row;

    opacity: 1;
}

.details-poster{
    height: 100vh;
    min-width: 40vw;
    background-image: url(/media/img/about-time.jpg);
    background-size: cover;
    background-position: center;
}

.details-information{
    margin: auto 5vw;
}

.details-information h1{
    font-family: "Rubik Mono One";

    font-size: 4vw;
    color: var(--primary);
}

.details-information h2{
    font-family: "Krona One";

    font-size: 3vw;
    color: var(--secondary);
}

.details-information p{
    font-family: "Krona One";

    font-size: 1vw;
    color: var(--third);
}

@media(max-width: 600px){
    .navbar{
        width: 100vw;
        height: 10vh;
    }
    
    .navbar-icon{
        width: 15%;

        margin: auto;
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .navbar-name{
        writing-mode: initial;
        width: 35%;
    
        font-family: "Krona One";
        font-size: 10px;
        text-align: center;
    
        transition: 1s;

        position: absolute;
        top: 0%;
        right: 0%;
        transform: translate(-100%, -225%);
    }
    
    .details-exit{
        position: absolute;

        right: 5%;
        top: 10%;
    }

    .details-container{
        height: 100vh;
        width: 100vw;

        bottom: 0;
        z-index: 50;
        flex-direction: column;
    }

    .details-poster{
        height: 65vh;
    }

    .details-information{
        width: 70vw;
        margin: auto;
    }

    .movie-container{
        width: 95vw;
        margin: auto;
    }

    .navbar-name:hover{
        filter: none;
        transform: none;
    }

    .cursor{
        display: none;
    }

    .developed{
        font-size: 5vw;
        text-align: center;
    }

    .title-container{
        position: absolute;
    
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
    }

    .details-information h1{
        font-size: 8vw;
    }
    
    .details-information h2{
        font-size: 4vw;
    }
    
    .details-information p{
        font-size: 3vw;
    }

    .landing-page h1{
        font-size: 20vw;
    }

}